/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow: hidden; /* Impede a rolagem da tela */
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

h2.titulo {
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 10px;
}

h2.titulo span {
    color: #128f81;
}

button:hover, form .advance-enviar input:hover {
    box-shadow: 0px 0px 8px #1ec2af;
    transform: scale(1.10);
}
section.button{
    box-shadow: 0px 0px 8px #1ec2af;
    transform: scale(1.10);
    border-radius: 50px;
    transition: .2s;
}


/* Botão de voltar */
.btn-voltar {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px 20px;
    background-color: #128f81;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: .2s;
    border-radius: 30px;
}

.btn-voltar:hover {
    background-color: #0e6d66;
    transform: scale(1.10);
    border-radius: 40px;
}

/* Botão já tem conta */
.btn-ja-tem-conta {
    position: absolute;
    top:25px;
    right: 25px;
    padding: 10px 20px;
    background-color: #128f81;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
}

.btn-ja-tem-conta:hover {
    background-color: #0e6d66;
    transform: scale(1.10);
    border-radius: 40px;
    transition: .2s;
}

/* ESTILO DO FORMULARIO DE CONTATO */
section.formulario {
    padding: 65px 4%;
}



form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
}

form input {
    width: 100%;
    background-color: #d9d7f1;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

form .advance-enviar {
    margin-top: 20px;
    text-align: center;
}

form .advance-enviar input {
    width: 120px;
    background-color: #128f81;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
